# section for project wide ignorance
Cloud+DevOps+Nanodegree+program+Syllabus.pdf

# Credentials files
credentials

# project_01 specific files
project_01/screenshots
project_01/project_01.zip
project_01/udacity-starter-website/vendor

# project_02 specific files
project_02/critique.txt
project_02/deploy-test