# section for project wide ignorance
Cloud+DevOps+Nanodegree+program+Syllabus.pdf

# Credentials files
credentials

# project_01 specific files
project_01/Screen_Shot_01.png
project_01/Screen_Shot_02.png
project_01/Screen_Shot_03.png
project_01/Screen_Shot_04.png
project_01/Screen_Shot_05.png
project_01/project_01.zip

project_01/udacity-starter-website/vendor